
.form {
    padding: 50px 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

input{
    border-color: #6d7f8f;
    outline: none;
    padding-left: 6px;
}

span {
    margin-right: 20px;
    color: #fff;
}

button {
    background: #6d7f8f;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 21px;
    color: #fff;
    outline: none;
}

.error {
    border: solid 2px lightcoral;
    border-radius: 20px;
    transition: all .2s linear ;
}
.name {
    color: #fff;
    margin-left:20px ;

}
